<p class="options-text" onclick="displayOptions()">Notifications <span><img id="chevron" src="/images/dashboard/icons/chevron.svg"></span></p>

<div class="form-group" id="notification-form">

    <% if @notification_channels.empty? %>
        <div>
            <p>

                There is currently no notification channel available. 
                <a href="/dashboard/notification_channels">Create a notification channel now >></a>
            </p>
        </div>
    <% else %>
        <p class="sub-heading">Notification Channels</p>
        <p>Hold Shift to select multiple channels</p>
        <%= form.select :notification_channels, (@notification_channels.collect {|p| [ p.name, p.id ] }), {}, id: "notif-input", multiple: "true" %>
    <% end %>

</div>

<script>
    document.getElementById('chevron').style.transform = 'rotate(90deg)'
    document.getElementById('notification-form').style.display = 'none';
    function displayOptions() {
        if (document.getElementById('notification-form').style.display !== 'none') {
            document.getElementById('chevron').style.transform = 'rotate(90deg)'
            document.getElementById('notification-form').style.display = 'none';
        } else {
            document.getElementById('notification-form').style.display = 'block';
            document.getElementById('chevron').style.transform = 'rotate(0deg)'
        }
    }
</script>