<fieldset>
    <legend class="sub-heading">Schedule</legend>
    <div class="form-grid">
        <%= form.select "params[schedule_type]",
            friendly_schedule_lister, { selected: @scheduler&.params&.dig("schedule_type") },
            multiple: false,
            onchange: "handleScheduleTypeChange(this.value)",
            class: "select-input" %>
                
        <div id="customScheduleBlock">
            <%= form.text_field :schedule, class: "form-input", id: "schedule_field", placeholder: "Custom Schedule (Crontab format)" %>
        </div>
    </div>
</fieldset>

<script>
    function getSchedules() {
        return <%= friendly_schedules.to_json.html_safe %>
    }

    (function() {
        window.formHide("customScheduleBlock")
        window.formShow("customScheduleBlock")
    })();

    function handleScheduleTypeChange(value) {
        const schedules = getSchedules()

        if (value === "custom") {
            window.formShow("customScheduleBlock")
        } else {
            window.formHide("customScheduleBlock")

            const schedule = schedules.find(s => s["id"] === value)
            const scheduleTextField = document.getElementById("schedule_field")
            scheduleTextField.value = schedule["cron"]
        }
    }
</script>