<div class="form-group">
    <%= form.text_field "params[username]", value: @resource.params.dig("username"), class: "form-input", placeholder: "Username" %>
</div>

<div class="form-group">
    <%= form.text_field "params[host]", value: @resource.params.dig("host"), class: "form-input", placeholder: "Hostname" %>
</div>

<div class="form-group">
    <%= form.number_field "params[port]", value: @resource.params.dig("port") || 22, class: "form-input", placeholder: "Port" %>
</div>

<div class="form-group">
    <%= form.text_field "params[private_key]", class: "form-input", placeholder: "Private Key" %>
</div>