<h1>Resource Details</h1>
<%= form_with url: "/dashboard/resources/#{@resource.id}", class: "form-grid",  model: [:dashboard, @resource] do |form| %>

  <input type="hidden" name="_method" value="patch">

  <div class="form-group">
    <%= form.text_field "params[name]", value: @resource.params.dig("name"), class: "form-input", placeholder: "Name" %>
  </div>

  <%= render "dashboard/resources/#{@resource.sub_type}", form: form %>

  <%= form.submit :Submit, class: "create-btn" %>
<% end %>