<section id="home">

    <%= render "navbar" %>

    <h1 id="heading">
      The open web monitoring and automation platform<span class="text-green">.</span>
    </h1>

    <p id="tagline">
      Define your monitoring and recurring tasks in one simple system. Get notified when predefined or downtime events happen. Easy.
    </p>

    <% if @current_user %>
    <a href="/dashboard">
      <button class="btn-start">
        <p>GET STARTED NOW</p>
        <img src="images/icons/arrow-right.svg">
      </button>
    </a>
    <% else %>
    <a onclick="handleLogin()">
      <button class="btn-start">
        <p>GET STARTED NOW</p>
        <img src="images/icons/arrow-right.svg">
      </button>
    </a>
    <% end %>

</section>

<section id="features">
    <h1 class="sub-heading">Features</h1>
    <div id="features-container">

      <div class="feature">
        <div class="feature-icon-parent center" id="cron">
          <img class="feature-icon" src="images/icons/monitor.svg">
        </div>
        <div class="feature-details">
            <p class="feature-title">Schedulers</p>
            <p class="feature-tagline">
                Automate your processes with recurring cron-based tasks. Run your tasks with ease over HTTP or remote SSH commands. Goodbye messy crontabs! See <a href="https://docs.cronrobot.io/features/schedulers">the documentation</a> for more details.
            </p>
        </div>
      </div>

      <div class="feature">
        <div class="feature-icon-parent center" id="monitoring">
          <img class="feature-icon" src="images/icons/clock.svg">
        </div>
        <div class="feature-details">
          <p class="feature-title">Monitor Connectivity</p>
          <p class="feature-tagline">Periodically verify that your resources are up and running.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature-icon-parent center" id="box">
          <img class="feature-icon" src="images/icons/box.svg">
        </div>
        <div class="feature-details">
          <p class="feature-title">Advanced Scheduler Dashboards</p>
          <p class="feature-tagline">View your scheduler metrics on automatically deployed <strong>Grafana</strong> dashboards.</p>
        </div>
      </div>

      <div class="feature">
        <div class="feature-icon-parent center" id="github">
          <img class="feature-icon" src="images/icons/github.svg">
        </div>
        <div class="feature-details">
          <p class="feature-title">Open Source by Design</p>
            <p class="feature-tagline">
                Our philosophy is simple: everything we do is open source by default. Have a look at our <a href="https://github.com/cronrobot">GitHub organization</a> and <a href="https://github.com/cronrobot/cronrobot">core repository CronRobot</a>.
            </p>
        </div>
      </div>

      <div class="feature">
        <div class="feature-icon-parent center" id="cloud">
          <img class="feature-icon" src="images/icons/cloud.svg">
        </div>
        <div class="feature-details">
          <p class="feature-title">Cloud or On Premise</p>
          <ul class="feature-list">
              <li>Use our easy to use <strong>cloud-based solution</strong> and get started in few minutes.</li>
              <li><strong>On Premise.</strong> Deploy it yourself with our <a href="https://github.com/cronrobot/cronrobot">open source solution.</a> <a href="https://docs.cronrobot.io/install-configs">See the installation doc</a>.</li>
          </ul>
        </div>
      </div>

      <div class="feature">
        <div class="feature-icon-parent center" id="bell">
          <img class="feature-icon" src="images/icons/bell.svg">
        </div>
        <div class="feature-details">
            <p class="feature-title">Notification Channels</p>
            <p class="feature-tagline">
                When downtimes/predefined events occur, get notified instantly via a variety of notification mediums/technologies. <br /><strong>Currently supported:</strong> email. <br /><strong>Coming soon:</strong> Discord, Slack, MS Teams, PagerDuty, Webhooks, and many more!
            </p>
        </div>
      </div>

    </div>
</section>

<section id="pricing">
    <h1 class="sub-heading" id="pricing-heading">Pricing and Plans</h1>
    <p class="sub-tagline">Simple pricing — Cancel Anytime.</p>
    <div id="pricing-grid">

      <div class="pricing-card" id="free">
        <div class="pricing-card-content">
          <p class="pricing-tag">PERSONAL</p>
          <p class="price">FREE</p>
          <p class="per-month">per month</p>
          <p class="price-info">(coming soon)</p>
          <p class="price-details">To be determined.</p>
        </div>
        <button class="btn-start" disabled>
          <p>SIGN UP FREE</p>
          <img src="images/icons/arrow-right.svg">
        </button>
      </div>

      <div class="pricing-card" id="beta">
        <div class="pricing-card-content">
          <p class="pricing-tag">BETA</p>
          <p class="price" id="beta-green-tag">FREE</p>
          <p class="per-month">per month</p>
          <p class="price-info">(special plan during the beta phase)</p>

          <p class="price-details">Advanced Cron Schedulers</p>
          <div class="divider"></div>
          <p class="price-details">Monitor Connectivity</p>
          <div class="divider"></div>
          <p class="price-details">
            Notification Channels: Email.
          </p>

          <div class="divider"></div>
          <p class="price-details">
            Unlimited Number of schedulers.
          </p>

        </div>
        <a onclick="handleLogin()">
            <button class="btn-start" id="center-btn">
              <p>START FOR FREE</p>
              <img src="images/icons/arrow-right.svg">
            </button>
        </a>
      </div>

      <div class="pricing-card" id="pro">
        <div class="pricing-card-content">
          <p class="pricing-tag">PRO</p>
          <p class="price">-</p>
          <p class="per-month">Monthly subscription</p>
          <p class="price-info">(coming soon)</p>
          <p class="price-details">To be determined.</p>
        </div>
        <button class="btn-start" disabled>
          <p>SIGN UP FREE</p>
          <img src="images/icons/arrow-right.svg">
        </button>
      </div>


    </div>
</section>

<section id="faq">
    <h1 class="sub-heading" id="faq-heading">Frequently Asked Questions</h1>
    <p class="sub-tagline">Answers to the most frequently asked questions</p>

    <div id="faq-grid">

      <div class="faq-child">
        <p class="question">Can I try it for free?</p>
        <p class="answer">
          Yes! We have a free limited tier which is ideal for personal usage.
          Further, for a limited time we have an unlimited beta plan during the beta/launch phase.
        </p>
      </div>

      <div class="faq-child">
        <p class="question">Are there any hidden charges?</p>
        <p class="answer">No. We keep our pricing simple (and stupid!). </p>
      </div>

      <div class="faq-child">
        <p class="question">I do not trust your managed server to provide my resource credentials, is there any alternative?</p>
        <p class="answer">
          Yes! You can self-host our solutions at no cost. See <a href="https://docs.cronrobot.io/">the documentation</a>.
        </p>
      </div>

      <!--
      <div class="faq-child">
        <p class="question">My credit card isn’t working</p>
        <p class="answer">Please, contact your bank first to see if there are any issues with the payment and let us
          know.</p>
      </div>
    -->

      <div class="faq-child">
        <p class="question">There is a missing functionality which I would like to see in CronRobot, what can I do?</p>
        <p class="answer">
          Good question! We are in fact open source and open to suggestions, and pull requests!
          Heads up on <a href="https://github.com/cronrobot/cronrobot/issues">our github repository issues</a> if you would like to propose an idea or missing feature.
        </p>
      </div>

    </div>

</section>

<section id="discord">
    <p id="discord-tagline" class="sub-tagline">Still have questions? Join our Discord to get more info</p>
    <a href="https://discord.gg/ZxYq7SK5Xb" rel="noopener noreferrer" target="_blank"><button class="btn-start">JOIN DISCORD SERVER</button></a>
</section>