<section id="home" style="">
    <%= render "navbar" %>
    <h1>Privacy Policy</h1>

    <div class="box">
        <p class="text-medium">
            This Site is operated and managed by CronRobot and has been created to provide information about our company and our services.<br /><br />

This Privacy Policy defines CronRobot's policy with respect to information including personally identifiable data and other information that is collected from visitors to the Site and related services.

        </p>
    </div>

    <h2>Information We Collect</h2>

    <div class="box">
        <p class="text-medium">
            While accessing CronRobot's website or services, we may collect personal data or other information. We however never share these data with third parties in any case.

        </p>
    </div>

    <h2>Personal Data</h2>

    <div class="box">
        <p class="text-medium">
            We collect Personal Data from you when you voluntarily provide such information such as when you contact us or when you signup and provide information related to your account.
        </p>
    </div>

    <h2>Other Information</h2>

    <div class="box">
        <p class="text-medium">
            We might record information related to your websites, for instance in order to maintain statistics and monitor our network. We collect such information in order to operate our system.
        </p>
    </div>

    <h1>Security</h1>

    <div class="box">
        <p class="text-medium">
            CronRobot takes significant steps to protect the Personal Data provided via the Services from loss and unauthorized access. However, no Internet transmission is ever completely secure or error free.<br /><br />

            In particular, communications, including emails, sent to or from the Services may not be secure.<br /><br />

            Therefore, you should take significant care in deciding what kind of information you send to us via emails or forms.<br /><br />
            Furthermore, our website operate recurring scheduling processes. Scheduling processes are configured by the User. We are not responsible of any loss or damage that the executions of the scheduling processes might cause. 
        </p>
    </div>

    <h1>Other Terms and Conditions</h1>

    <div class="box">
        <p class="text-medium">
            Your access and use of the services is subject to the Terms of Service.
        </p>
    </div>
</section>