<% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <% values = value.class == Array ? value : [value] %>
        <ul>
          <% values.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
        
      </div>
    <% end %>