<div id="error-grid">
  <% flash.each do |key, value| %>
    <div id="alert" class="alert-<%= key %>">
      <% values = value.class == Array ? value : [value] %>
      <ul>
        <% values.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      
    </div>
  <% end %>
  </div>