
/*
 *
 */


$dashboard-sidebar-width: 10rem;

.dashboard-wrapper {
    display: flex;
    width: 100%;
}

#dashboard-sidebar {
    overflow: visible;
    max-width: $dashboard-sidebar-width;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;

}

#dashboard-sidebar-links {
    text-align: center;
}

#dashboard-content {
    margin-left: $dashboard-sidebar-width;
}

