#error-grid {
    display: grid;
    width: 100%;
    grid-gap: 20px;
    color: black !important;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.alert-error, .alert-danger {
    background: #F85C70;
}

.alert-info {
    background: #5A6EF8;
}

.alert-success {
    background: #03DDA6;
}

.alert-warning {
    background: #FEDC56;
}

#alert {
    padding: 2px;
    color: black !important;
}