$bg-color: #222121;
$main-blue: #5A6EF8;

body {
    margin: 0px;
    background: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}


nav {
    width: 90%;
    margin-top: calc(20px + 1vw);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    color: white;
    font-size: calc(24px + 1vw);
    font-weight: bold;
}

a, a:active {
    color: white;
    text-decoration: none;
}

#main {
    width: 90%;
    margin-top: calc(50px + 3vw);
}

#logo {
    width: calc(100px + 10%);
}

.menubar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: calc(40px + 1vw);
    width: 100%;
    height: 70px;
    background: #222121;
    border: calc(1px + 0.1vw) solid #FFFFFF;
    box-shadow: 0px 8px 24px 24px rgba(0, 0, 0, 0.25);
    border-radius: calc(15px + 0.5vw);
    overflow: hidden;
    font-weight: 600;
    font-size: calc(10px + 0.6vw);
    & a {
        width: calc(100% / 3.5);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.15);
        }
        & img {
            width: calc(15px + 4%);
        }
    }
    & p {
        margin-left: 10%;
        & {
            @media only screen and (max-width: 800px) {
                display: none;
            }
        }
    }
}

// Support Section

#discord-banner {
    cursor: pointer;
    max-width: 100%;
    border-radius: calc(20px + 0.5vw);
    transition: .25s linear;
    margin-bottom: 80px;
    &:hover {
        box-shadow: 0px 8px 24px 24px rgba(0, 0, 0, 0.25);
    }
}

// Buttons and Components
.create-btn {
    width: calc(150px + 2vw);
    height: calc(40px + 0.5vw);
    border-radius: calc(6px + 0.3vw);
    background: $main-blue;
    color: white;
    font-size: calc(12px + 0.5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: .25s linear;
    margin-bottom: 75px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    & span {
        padding-top: 2px;
    }
    &:hover {
        background: rgb(90, 110, 248, 0.8);
        box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, 0.25);
    }
    & img {
        margin-left: 7%;
        width: calc(10px + 0.7vw);
    }
}

.select-input {
    min-width: calc(255px + 8vw);
    background: white;
    color: rgb(0, 0, 0, 0.75);
    font-size: calc(10px + 0.5vw);
    padding-left: 15px;
    line-height: 1px;
    height: calc(40px + 1vw);
    border: none;
    border-radius: calc(3px + 0.3vw);
    margin-bottom: calc(15px + 1vw);
}

.form-grid {
    display: grid;
    width: max-content;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    & {
        @media only screen and (max-width: 700px) {
            width: 80%;
            grid-template-columns: 1fr;
            & input {
                width: 94.5%;
            }
            & select {
                width: 100%;
            }
        }
    }
}

.form-input {
    width: calc(240px + 8vw);
    background: white;
    color: rgb(0, 0, 0, 0.85);
    font-size: calc(10px + 0.5vw);
    padding-left: 15px;
    line-height: 1px;
    height: calc(40px + 1vw);
    border: none;
    border-radius: calc(3px + 0.3vw);
    margin-bottom: calc(15px + 1vw);
    &::placeholder {
        color: rgb(0, 0, 0, 0.75);
        font-size: calc(10px + 0.5vw);
    }
}

// Tables

.table-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin-bottom: 80px;
}

.table-grid-row {
    background: white;
    display: grid;
    text-align: center;
    overflow: hidden;
    font-size: calc(13px + 0.3vw);
    grid-template-columns: 0.3fr 1.7fr 1fr 1fr;
    width: 100%;
    min-height: calc(15px + 0.3vw);
    border-radius: calc(5px + 0.2vw);
}

// Status

.state-unknown, .state-paused {
    background: #FEDC56;
}

.state-alerting, .state-OK {
    background: #03DDA6;
}

.state-ALL, .state-pending {
    background: $main-blue;
}

.state-no_data {
    background: #F85C70;
}