CronRobot dashboard

<div>
  <ul>
    <li><a href="/dashboard/schedulers">Schedulers</a></li>
    <li><a href="/dashboard/notification_channels">Notification Channels</a></li>
    <li><a href="/dashboard/resources">Resources</a></li>
  </ul>
</div>

<div>
  <p>Full User Profile:<%= JSON.pretty_generate(@current_user)%></p>
</div>