<h1>Contact Us</h1>

<p>For technical support, make sure to first read our <a class="default-links" href="https://docs.cronrobot.io/">official docs.</a></p>


<p>Feel free to join our Discord community to create support tickets, share your experience, give feedbacks, and more!</p>

<a target="_blank" rel="noreferrer noopener" href="https://discord.gg/Rny4FkcJdZ">
    <img id="discord-banner" src="/images/dashboard/discord.gif">
</a>